<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Create a New Post For Your Blog, Doogie!</h1>
    <div class="container">
        <form class="newFormBox" action="/posts" method="POST">
            <label>
                Author: <input type="text" name="author" value="{{post.author}}">
                Title: <input type="text" name="title" id="title">
            </label>
            <br>
            <label>
                Body: <textarea name="body" id="body" cols="30" rows="10"></textarea>
            </label>
            <br>
            <label>
                Published Date: <input type="date" name="datePublished">
            </label>
            <br>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>